*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255, .8);
    background: url('img/b-interior.jpeg') no-repeat;
    background-size: cover;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
button {
    font-family: inherit;
    color: inherit;
}

.container {
    width: 60%;
    margin: 0 auto;
}

/* header */

.header {
    padding: 5px 0;
    background-color: rgb(0, 0, 0, .5);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-img {
    width: 2rem;
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
}

.header-nav-item-link {
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 0.6rem;
    transition: background-color 600ms ease-in-out;
}

.header-nav-projects-list {
    display: none;
    position: absolute;
    transition: display 600ms ease-in-out;
}

.projects {
    position: relative;
}

.projects:hover .header-nav-projects-list {
    display: block;
}

.header-nav-projects-item {
    margin-top: 1rem;
}

.header-nav-projects-link {
    padding: .5rem .7rem;
    text-decoration: none;
    font-size: 0.6rem;
    transition: background-color 600ms ease-in-out;
}

.header-nav-item-link:hover,
.header-nav-projects-link:hover {
    background-color: rgba(254, 207, 195, 0.8);
}

/* main */

.main {
    padding-top: 10rem;
}

.main-heading {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.hero-description-text {
    margin: 2rem auto;
    width: 65%;
    text-align: center;
}

.hero-btn-container {
    text-align: center;
}

.btn {
    padding: 10px 25px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255, .8);
    border-radius: 15px;
}

.more-btn {
    margin-right: 1rem;
    background-color: rgba(254, 207, 195, 0.8);
    cursor: pointer;
}

.video-btn {
    padding-left: 2.3rem;
    background: url('img/icon_play_circle.png') no-repeat;
    background-position: 12% 50%;
    background-size: 15px;
    cursor: pointer;
    transition: background-color 600ms ease-in-out;
}

.video-btn:hover {
    background-color: rgba(254, 207, 195, 0.8);
}

.floating-btn {
    position: fixed;
    bottom: .5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    background: url('img/icon_envelope.png') no-repeat;
    background-position: 50% 50%;
    background-size: 45%;
    background-color: rgba(254, 207, 195, 0.8);
    border: 2px solid #ffffff;
    border-radius: 15%;
    cursor: pointer;
}