.userItem {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: rgb(13, 76, 0);
  border-radius: 5px;
}

.userItemInput {
  color: #000;
  border: none;
  background-color: transparent;
}

.userItemInput:disabled {
  color: rgb(245, 160, 160);
}

.userItemInput[id='name'],
.userItemInput[id='surname']{
  font-weight: 700;
}

.userItemInput[id='tel'],
.userItemInput[id='email'] {
  margin: .5rem 0;
  font-style: italic;
}

.userItemBtn {
  margin-right: .5rem;
  font-family: inherit;
  color: aliceblue;
  border: none;
  border-radius: 5px;
}

.editBtn {
  background-color: rgb(120, 58, 0);
}

.deleteBtn {
  background-color: rgb(115, 0, 0);
}
