/* .main {
    position: relative;
} */

.hero_info_section {
    position: absolute;
    top: 30%;
    left: 22%;
    width: 33em;
}

.hero_heading {
    color: var(--color-grey-main-headings);
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.5;
}

.social_list {
    display: flex;
    margin-bottom: 52px;
}

.social_list_item:not(:last-child) {
    margin-right: 60px;
}

.social_list_item-link {
    text-transform: uppercase;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.hero_info_btn {
    padding: .5em 2em;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--color-light-pink);
    border: none;
    /* -webkit-transition: opasity, background-color, border-color 600ms ease;
    -o-transition: opasity, background-color, border-color 600ms ease;
    transition: opasity, background-color, border-color 600ms ease; */
}

.study_list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.study_list_item:not(:last-child) {
    margin-bottom: 3.5em;
}

.study_item_name {
    color: var(--color-grey-6d);
    font-size: 30px;
    line-height: 1.1;
    font-weight: 500;
}

.study_item_date {
    color: var(--color-grey-7e);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 2;
}

.study_item_dcrptn {
    color: var(--color-grey-6d);
    font-size: 16px;
    line-height: 1.9;
}

.study_dscrptn_stack_span {
    padding: 0.2em 0.5em;
    color: var(--color-grey-6);
    background-color: var(--color-grey-ed);
    border-radius: 16px;
}

/* Projects */

.projects_item:not(:last-child) {
    margin-bottom: 120px;
}

.project_item_content {
    width: 45%;
    padding: 80px;
}

.projects_item_img {
    width: 55%;
}

.left_float {
    float: left;
}

.right_float {
    float: right;
}

.clear {
    clear: both;
}

.projects_item_heading {
    color: var(--color-grey-main-headings);
    font-size: 60px;
    line-height: 1.5;
    font-weight: 700;
}

.projects_item_dscrptn {
    color: var(--color-grey-6d);
    font-size: 18px;
    line-height: 33px;
}

/* about section */

.about_dscrptn {
    margin-bottom: 60px;
    color: var(--color-grey-6d);
    font-size: 18px;
    line-height: 2;
}

.about_dscrptn_middle_container {
    display: flex;
    flex-wrap: wrap;
}

.about_dscrptn_middle_image_container {
    margin-bottom: 60px;
    width: 100%;
    height: 285px;
    background-image: url('/img/bg_img.png');
}

.about_dscrptn_middle_text_container {
    width: 40%;
}

.about_dscrptn_form_container {
    padding: 40px;
    background-color: var(--color-light-pink);
}

.about_dscrptn_form {
    display: flex;
    flex-direction: column;
    
}