<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('blocks/header') -%>
  <main>
    <h1>Page of user <%= username %> </h1>
    <% if(username.toLowerCase() == 'john') { %>
      <ul>
        <% hobbies.forEach((el) => { %>
          <li> <%= el %> </li>
        <% }) %>
      </ul>
    <% } %>
  </main>
</body>
</html>