* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

ul li {
    list-style: none;
}

img {
    width: 100%;
    overflow: hidden;
}

section {
    margin: 5rem 0;
}

.container {
    margin: 0 auto;;
    width: 85%;
}

/* travel-section */

.travel-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-container {
    padding: 2rem;
    max-width: 30%;
    box-shadow: 11px 6px 20px -3px #757575;
}

.travel-card-img {
    margin-bottom: 1rem;
    height: 50%;
}

.tranvel-card-heading {
    font-size: 1.8rem;
    color: #2c2c2c;
}

.travel-descr-text{
    margin: 1rem 0;
    font-size: 1rem;
    color: #757575;
    line-height: 1.5;
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.travel-card-price {
    color: #4789CB;
    font-size: 1.7rem;
    font-weight: 700;
}

.travel-card-btn {
    padding: .7rem 1rem;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: #4789CB;
}

/* car-section */

.cars-section {
    padding: 2rem 0;
    background-color: #282B32;
}

.cars-heading {
    font-size: 2rem;
    font-weight: 400;
    color: rgba(255,255,255,.8);
    text-align: center;
}

.cars-text {
    margin: 1rem 0 2rem;
    padding: 0 20%;
    color: rgba(255,255,255,.8);
    text-align: center;
    line-height: 1.5;
}

.cars-list {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.car-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.car-item-heading {
    align-self: stretch;
    padding: 1rem 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.car-item:nth-child(odd) .car-item-heading{
    background-color: #545C65;
}

.car-item:nth-child(even) .car-item-heading {
    background-color: #F50C03;
}

.img-container {
    height: 50%;
    overflow: hidden;
}

.car-descr-container {
    margin-top: ;
}
