.statusListWrapper {
  display: none;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #fff;
}

.statusListActive {
  display: flex;
}

.itemsLeftText {
  color: #acacac;
}

.deleteCompletedBtn {
  color: #acacac;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
}

.deleteCompletedBtn:active {
  color: #000000;
}