// colors

$white: #ffffff;
$main-beige: #BBA267;
$black-text: #000000;
$grey-text: rgb(92, 92, 92);
$bg-grey: #e6e6e6;
$btn-hover: #fab820;

$main-font: 'Open Sans', sans-serif;
$btn-font: 'Montserrat', sans-serif;

