.knowledge {
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid rgb(252, 235, 215);
}

.heading {
  color: rgb(82, 62, 12);
  font-size: 36px;
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: decimal-leading-zero;
}

.item {
  padding: 0.4rem;
  font-size: 24px;
  color: rgb(187, 246, 179);
}