<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <style>
    body {
      padding-top: 3rem;
      font-family: sans-serif;
      text-align: center;
      color: azure;
      background-color: darkgrey;
    }
    a {
      color: brown;
    }
  </style>
</head>
<body>
  <h1>Ошибка</h1>
  <p>Такой страницы нет. Перейдите на <a href="/">главную</a></p>
</body>
</html>