<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NODE JS</title>
  <style>
    body {
      padding-top: 3rem;
      font-family: sans-serif;
      text-align: center;
      color: azure;
      background-color: darkgrey;
    }
    a {
      color: brown;
    }
  </style>
</head>
<body>
  <h1>Главная страница</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quibusdam labore vel et officia libero?</p>
  <a href="/about">About</a>
</body>
</html>