* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0F1108;
}

ul li {
  list-style: none;
}

button, a {
  font-family: inherit;
  color: inherit;
}

.person-book-section {
  padding: 2rem 0;
  height: 100vh;
  background-color: #645853;
}

.container {
  margin: 0 auto;
  max-width: 85%;
}

.persons-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
}

.person-card {
  position: relative;
  padding: 2rem;
  _text-align: center;
  border: 1px solid #00F6ED;
  border-radius: 15px;
}

.person-card:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(100% / 3 - 0.5rem);
  font-size: 4rem;
  color: #241909;
  cursor: pointer;
}

.person-card:last-child:active i{
  color: #00F6ED;
}

.fa-person {
  position: absolute;
  top: 40px;
  font-size: 4rem;
  color: #241909;
}

.person-card p {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #CAD8DE;
}

.person-card p:last-child {
  margin-bottom: 2rem;
}

.person-card a {
  display: block;
  color: #241909;
  font-size: 1.2rem;
  line-height: 1.3;
}

.person-card a:first-child {
  margin-top: 2rem;
}

.fa-solid {
  margin-right: 1rem;
}

/* modal */

.form-modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #cad8de47;
}

.form-modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 30%;
  background-color: #645853;
  border-radius: 15px;
}

.form-modal-form span {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #00F6ED;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

.form-modal-form span:active {
  color: #0F1108;
}

.form-modal-form label {
  margin-bottom: 0.3rem;
  color: #0F1108;
  font-size: 1.5rem;
}

.form-modal-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
}

.form-modal-form button {
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  background-color: #00F6ED;
  color: #0F1108;
  font-size: 1.5rem;
  transition: color background-color 600ms ease-in-out;
}

.form-modal-form button:active {
  color: #00F6ED;
  background-color: #0F1108;
}

@media screen and (max-width: 768px) {
  .form-modal-form{
    width: 60%;
  }
}
