* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

section {
  padding: 2rem 0;
}

.section-heading {
  font-weight: 600;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.italic {
  font-style: italic;
  color: rgb(92, 92, 92);
}

.btn {
  padding: .4rem 1rem;
  text-transform: lowercase;
  color: rgb(92, 92, 92);
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #BBA267;
  border-radius: 30px;
  cursor: pointer;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* #BBA267 */

/* header */
.header {
  padding: 2rem 0 5rem;
  background: linear-gradient(to left, transparent, #EFEFEF);
}

.main-heading {
  margin-bottom: 1rem;
  color: #BBA267;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1;
}

.header-descr-text {
  margin-bottom: 2rem;
  color: rgb(92, 92, 92);
}

/* advices-section */

.advices-section {
  background-color: #e6e6e6;
}

.advices-cards-container {
  position: relative;
  top: -5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.advices-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #fff;
}

.advices-card span {
  color: #BBA267;
  font-size: 2rem;
}

.advices-card-text {
  text-align: center;
}

/* health-section */

.health-section {
  background: url('img/anh-nguyen-fdXnVBurIvU-unsplash.jpg') no-repeat left center;
  background-size: 50%;
}