<header>
  <span>Node <em>&</em> Express</span>
  <nav>
    <a href="/">Homepage</a>
    <a href="/about">About</a>
  </nav>
  <form method="POST" action="/check-user">
    <input type="text" name="username" placeholder="User name">
    <button type="submit">Search</button>
  </form>
</header>